* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
}

.caixa, .caixa2 {
    background-color: #fca746;
    width: 800px;
    height: 20vh;
    margin: 5px;


}
.container {
    width: 700px;
    height: 200px;
    display: flex;
    padding: 15px;
    margin-left: 50px;

}

.verde {
    background-color: #d8ed37;
    height: 60vh;
    margin: 5px 5px 0 5px;
    
    


}

main {
    display: flex;
}

div {
    display: flex;
    flex-direction: column;
    width: calc(100% - 0px);
}

.azul{
    background-color: #4f87ca;
    width: calc(100% - 10px);
    height: 40vh;
    margin: 5px 5px 0 5px;
}



.cinza {
    background-color: #e2e2e2;
    width: calc(100% - 10px);
    height: 40vh;
    margin: 5px 5px 0 5px;
}